body{
    margin: 30px;
    /* background-image: url('dog1.jpg'); */

}

#title-main{
    margin-bottom: 30px;
    text-align: center;    
}

.dog-img{
    margin-top: 10px;
    width:100%;
}

.links{
    text-align:center;
}

tr:hover{
    background-color: aquamarine;
}
/* .table{
    padding:2px;
    /* margin:0px; */
} */


/* #info{
    width: 60%;
} */